.header {
  width: 100%;
  position: fixed;
  top: 0;
  opacity: 1;
  height: 30px;
  background-color: #000;
  transition: opacity 0.3s ease-in-out;
  z-index: 10;
}

.gridItem {
  height: 3px;
  width: 3px;
  margin-right: 2px;
  background-color: #111;
}

.listItem {
  height: 3px;
  width: 3px;
  margin-right: 2px;
  background-color: #efefef;
}

.gridRow {
  display: flex;
  height: 3px;
  margin-top: 2px;
}

.hidden {
  width: 100%;
  position: fixed;
  top: 0;
  opacity: 1;
  height: 30px;
  background-color: #000;
  transition: opacity 0.3s ease-in-out;
  z-index: 10;
  opacity: 0;
}

.initials {
  margin-top: 4px;
  margin-left: 15px;
}

.section {
  font-family: roboto, sans-serif;
  font-weight: 100;
  text-align: center;
  position: absolute;
  top: 6px;
  width: 100%;
  color: #efefef;
  font-size: 24px;
}

.contact {
  position: fixed;
  top: 5px;
  right: 15px;
}

.icon {
  display: inline-block;
  height: 18px;
  width: 18px;
  margin-left: 3px;
}
