body {
  background-color: #000;
}
.background {
  position: absolute;
  min-height: 100%;
  width: 100%;
  background-color: #585858;
}

.content { 
  max-width: 900px;
  padding-left: 30px;
  padding-right: 30px;
  float: left;
}

@media only screen and (max-width: 1229px) {
  .navText {
    display: none;
  }

  .content {
    margin-left: auto;
    margin-right: auto;
    float: none;
  }
}

.navText {
  color: #efefef;
  list-style-type: none;
  font-weight: 100;
  line-height: 50px;
  font-size: 34px;
  font-family: roboto;
}

.nav {
  composes: navText;
  position: fixed;
  left: 1000px;
  top: 0px;
}

.navStationary {
  composes: navText;
  float: left;
  padding-left: 80px;
}

.bold {
  font-weight: 700;
}

.copyright {
  font-weight: 100;
  text-align: center;
  padding: 40px;
  color: #888;
}
