.main {
  color: #efefef;
  padding-top: 20px;
}

.main h3 {
  font-weight: 700;
}

.main a {
  font-weight: 200;
  font-style: italic;
}

.example {
  width: 190px;
  height: 190px;
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 20px;
  vertical-align: middle;
  margin-bottom: 20px;
  -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);
  -webkit-transform: rotate(0.000001deg);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
}

.images {
  text-align: center;
}

.video {
  text-align: center;
}

@media only screen and (max-width: 700px) {
  .video {
    display: none;
  }
}
